.scroll-hero{
    position: relative;
    height: 200vh;
    background-image: url('/EQUIPO.png');
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    
}

.sh-logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.sh-logo img {
    width: 950px;
}

.sh-texto {
    position: absolute;
    left: 55%;
    top: 50%;
    transform: translateY(-50%);
    max-width: 400px;
    opacity: 0;
    color: white;
    text-align: left;
}
.sh-texto h2{
    font-size: 50px;
    color: white;
    margin-bottom: 16px;
}

.sh-texto p{
    font-size: 20px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.85);
}

.sh-sticky {
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sh-diagonal{
    position:absolute;
    bottom:-1px;
    left:0;
    width:100%;
    height:180px;
    background: rgba(99, 20, 125, 0.95);
    clip-path: polygon(0 20%, 100% 60%, 100% 100%, 0 100%);
    z-index:2;
}